server {
    listen 80;
    listen [::]:80;

    server_name pt.niah.site;

    root /var/www/portfolio;
    index index.html;

    location / {
        try_files $uri $uri/ =404;
    }

    location ~ /\. {
        deny all;
    }
}
